/* ABOUT US GROUP 3 BY FEBRINA L. R. */
* {margin:0 auto} /* to create space around elements, outside of any defined borders.*/

body {
    background-image: url(images/marbleblack.jpg);
}

h1 h2 {
color: black;
text-align: center justify ;
text-decoration: bold;
font-family: monospace;
}

a {
color: #575757 ; /*grey*/
font-size: 16px;
text-align: justify;
font-family: monospace;
}

.container { /* to create a title, located in the middle of the top.*/
            width: 90%;
            border: 10px solid #575757; /*grey*/
            text-align: center;
            float: center;
}

.navbar { /* To present the link, located at the top center.*/
            padding: 2%;
            height: auto;
            width: 97%;
            text-align : center;
            background-image: url(images/marbel.jpg);
}

.navbar a { color: red;
}


.divheader { /* to create a title, located in the middle of the top.*/
            padding: 2%;
            width: 97%;
            height: auto;
            text-align: center;
            background-image: url(images/marbel.jpg);
}

.content1 { /* Put your content images here in the div (style 1) */
            float:center;
            background-image: url(images/marbel.jpg);
            border: 1px solid white;
            padding:1%;
            max-width: 1000px;
            height: auto;
            text-align: center;
}
.content2 { /* Put your content writing here in the div (style 2) */
			float:center;
            background-image: url(images/marbel.jpg);
            border: 1px solid white;
            padding:1%; 
            max-width: 300px;
            height: auto;
            text-align: justify;	
}
.footer { /* used for footnotes, the bottom element. */ 
            background-color: #575757; /*grey*/
            width: 100%;
            height: auto;
            padding: 1%;
            text-align: center;
            bottom: 0px;
            position: fixed;
}

@media screen and (max-width: 200px){
body .container .navbar .divheader .content1 .content2 .footer {width: 90%;}
}
