/* -------------STYLE FOR BODY-------------- */
*{
padding:0;
margin:0;
}
body {
height:100%;
width: auto;
color:#000000; 
text-align:center;
font-family:sans-serif;
font-size:14.4px;
}
        
.wrapper{
width: 80%;
height: 50%;
margin-left: 12%;
}


/*----------------------------------------------------------------------------------------------------------------------------------*/


/*---NAVBAR PART---*/

#navbar {
    padding-top: 4px;
    height: 90px;
    background-image: url(images/marbel.jpg);
    font-size: 20px;
}

#navbar ul { 
list-style:none;
}

#navbar li {
display:inline;
}

#navbar li a { 
margin:0 0 0 0;
font-family:"Times New Roman";
}

a { 
color:#cc0000;
text-decoration:underline;
}

a:hover { /* -------For styling and set the style of hover. Hover used to select elements when you mouse over them-------------- */
color:#616161;
}

/*---END NAV BAR---*/

/*----------------------------------------------------------------------------------------------------------------------------------*/


#header { 
height:143px;
background-color:#cccccc;
background-image: url(images/marbel.jpg);

}

#header h1 { 
margin:0 0 7px 10px;
    /*--- top margin is 0
    ----- right margin is 0
    ----- bottom margin is 7px
    ----- left margin is 10px ---*/
    
padding:10px 0 0 14.4px;
    /*--- top padding is 10px
    ----- right padding is 0
    ----- bottom padding is 0
    ----- left padding is 14.4px ---*/
    
font-family:"Times New Roman";
font-size:27.2px;
letter-spacing:2.4px;
color:#000000;
}

#header h2 { 
padding:0 0 0 30px;
    /*--- top padding is 0
    ----- right padding is 0
    ----- bottom padding is 0
    ----- left padding is 30px ---*/
font-size:.9em;
font-weight:300;
letter-spacing:.1em;
color:#000000;
}

/*---END HEADER---*/

/*----------------------------------------------------------------------------------------------------------------------------------*/

/*----START THE CONTENT----*/

/*----This is the left column----*/
.column.side {
  width: 23%; 
  float: left; 
  padding: 1%;      
  margin-right: 2.5%; 
  margin-bottom: 2%;
  margin-top: 2%;
  margin-left: 3%; 

}

/*----This is the middle column----*/
.column.middle {
  width: 23%; 
  float: left; 
  padding: 1%;  
  margin-right: 2.5%; 
  margin-bottom: 2%; 
  margin-top: 2%; 
  margin-left: 3%; 
  
}

/*----This is the right column----*/
.column.right {
  width: 23%; 
  float: left; 
  padding: 1%;
  margin-right: 2.5%; 
  margin-bottom: 2%; 
  margin-top: 2%; 
  margin-left: 3%; 

}

/*---Specification for image in content---*/
img {
    max-width: 200;
    height: auto;
}
/*---End specification image in content---*/


/*----END CONTENT----*/


/*---THIS IS RESPONSIVE CONTENT---*/

@media screen and (max-width: 767px) {
    .column.side,
    .column.middle,
    .column.right /*----Calling right, middle, and left column
                  with specification : width 100%, have white marbel 
                  background color, 6px marbel black border image with 30 texture round----*/
    {
     width:100%;
     background-image: url(images/marbel.jpg); 
     border: 6px solid transparent; 
     border-image: url(images/marbleblack.jpg) 30 round; 
    }
}

@media screen and(min-width:768px) and (max-width:1000px) {
    .column.side,
    .column.middle,
    .column.right /*----Calling right, middle, and left column
                  with specification : width 100%, have black marbel 
                  background color, 6px marbel black border image with 30 texture round----*/
    {
     width:100%;
     background-image: url(images/marbleblack.jpg);
     border: 6px solid transparent; 
     border-image: url(images/marbleblack.jpg) 30 round; 
     
    }
}

.rightdiv {
 width: 70%;
 float: left; 
 padding: 4.1%;
 border: 6px solid transparent; 
 border-image: url(images/marbleblack.jpg) 30% round; 
 background-image: url(images/marbel.jpg);
 margin-right: 7%;  
 margin-bottom: 2%;
 margin-top: 2%;
 margin-left: 10%;  
 text-align: center;
}

.rightdiv p {
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size: 30px;
 font-weight:lighter;
 letter-spacing:.15em;
 text-align: center;
}

/*----------------------------------------------------------------------------------------------------------------------------------*/


/*---START FOOTER---*/
#footer { 
clear:both;
bottom:0;
margin:80px 0 0 0;
    /*--- top margin is 80px
    ----- right margin is 0
    ----- bottom margin is 0px
    ----- left margin is 0px ---*/
height:64px;
line-height:64px;
text-align:center;
font-size:15px;
background-color:#cccccc;
background-image: url(images/marbel.jpg);
}
/*---END FOOTER---*/


/*-----------------------------------------------------------------------------------------------------------------------------------*/


/*---RESPONSIVE FOR BODY---*/

@media screen and (max-width:767px) {
 body {
     width:100%;
     background-color: #FFFFFF; /*----Calling all body from 0px (Minimal) until 767px (Maximal)
                  with specification : width 100% and have a white background color----*/
    }
}

@media screen and (min-width:768px) and (max-width:1378px) {
 body {
     width:100%;
     background-image:url(images/marbleblack.jpg); /*----Calling all body from 768px (Minimal) until 1378px (Maximal)
                  with specification : width 100% and have a marble black background color----*/
    }
}

/*---RESPONDSIVE FOR NAVBAR---*/

@media screen and (max-width:600px) {
 #navbar {
     width: 100%;
     border-top: 6px solid #808080; /*----Calling for navbar width 0px (Minimal) until 600px 
                                    (Maximal) with specification : width 100% and have 6px 
                                    grey border color in top ----*/
    }
}


/*---RESPONDSIVE FOR NAVBAR---*/

@media screen and (max-width: 600px) {
 #header {
     width:100%;
     border-bottom: 6px solid #808080; /*----Calling for header width 0px (Minimal) until 600px 
                                    (Maximal) with specification : width 100% and have 6px 
                                    grey border color in bottom ----*/
    }
}

/*---RESPONSIVE RIGHTDIV---*/

@media screen and (max-width: 500px) {
    .rightdiv, .rightdiv p {
        display: none; /*----Calling for rightdiv width 0px (Minimal) until 500px 
                        (Maximal) with specification : delete the display of rightdiv ----*/
    }
}



