/* -------------STYLE FOR BODY-------------- */
body {   /* -------For styling and set the body section that contains content, images, etc. Like set the font-color, background color, font family, margin, etc.-------------- */
margin:.5em; 
padding:0; 
height:100%;
width: auto;
background-color:#ffffff;
color:#000000;  
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size:.9em;
}

#navbar { /* -------To style the navigation bar background------------ */
margin:0 0 -1px 10px;
height:100px;
padding:1px 0 0 2PX;
background-color:#cccccc;
background-image: url(images/marbel.jpg);
    font-size: 20px;
    font-family:Georgia, "Times New Roman", Times, serif;
}

#navbar ul { /* -------To style and set The block element used to designate unordered list on the navigation bar------------ */
margin:0 0 -1px 3px;
margin:3px 0 0 3px;
padding:0 0 1px 0;
list-style:none;
}

#navbar li { /* -------To style and set The block element used to represent an item in a list on the navigation bar------------ */
margin:0 0 0 27px;
padding:2px 2px 0 2px 0;
padding:1px 0 1px 0;
list-style:none;
display:inline;
}

#navbar li a { /* -------To style and set The block element used to represent an item in a list on the navigation bar and also the hyperlink in navigation bar------------ */
margin:0 0 0 0;
padding:1px 5px 1px 5px;
padding:1px 5px 0 5px;
}


a { /* -------For styling and set the style of hyperlink in the page-------------- */
color:#cc0000;
text-decoration:underline;
}

a:hover { /* -------For styling and set the style of hover. Hover used to select elements when you mouse over them-------------- */
color:#616161;
text-decoration:none;
}
/*---END NAV BAR---*/

#header { /* -------To style and set The header of the page------------ */
margin:0 0 -14px 10px;
height:143px;
padding:10px 0 0 1px;
background-color:#cccccc;
border-top:1px solid #ffffff;
background-image: url(images/marbel.jpg);

}

#header h1 { /* -------To style and set The h1 sentence on the header of the page------------ */
margin:0 0 -5px 30px;
padding:2px 0 0 9px;
font-family: serif;
font-size:30px;
font-weight:lighter;
letter-spacing:10px;
color:#000000;
}

#header h2 { /* -------To style and set The h2 sentence on the header of the page------------ */
margin:5px 0 0 0;
padding:1px 0 0 30px;
font-size: 20px;
font-weight:300;
letter-spacing:2px;
color:#000000;
}

/*---END HEADER---*/
.wrapper {
	width: 100%;
}

.leftdiv {
	width: 23%;
	float: left; 
	padding: 5%;
	border: 10px solid transparent; 
	border-image: url(images/marbleblack.jpg) 5% round; 
	margin-right: 2%; 
	margin-top: 0; 
	margin-bottom: 2%;
	margin-top: 2%;
	margin-left: 3%; 
	background-color:#cccccc; 
	text-align: center;
}

.para1 {
	margin:0 0 -1px 10px;
	padding:10px 0 0 .9em;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 30px;
	font-weight:lighter;
	letter-spacing:.15em;
	color:#000000;
	text-align: center;
}

.leftdiv h1 {
	margin:0 0 -1px 10px;
	padding:10px 0 0 .9em;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.7em;
	font-weight:lighter;
	letter-spacing:.15em;
	color:#000000;
	text-align: center;
}

.leftdiv h2 {
	margin:0 0 0 0;
	padding:1em 0 0 30px;
	font-size: 20px;
	font-weight:300;
	letter-spacing:.1em;
	color:#000000;
	text-align: center;
}

.rightdiv {
	width: 43%;
	float: left; 
	padding: 4.1%;
	border: 10px solid transparent; 
	border-image: url(images/marbleblack.jpg) 30% round; 
	margin-right: 2%; 
	margin-top: 0; 
	margin-bottom: 2%;
	margin-top: 2%;
	margin-left: 3%; 
	background-color:#cccccc; 
	text-align: center;
}

.rightdiv h3 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 30px;
	font-weight:lighter;
	letter-spacing:.15em;
	text-align: center;
}

.rightdiv p {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 30px;
	font-weight:lighter;
	letter-spacing:.15em;
	text-align: center;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
