/* To make the webpage responsive */
@media screen and (max-width: 800px) {
    body, a, a:hover, hr, #centerColumn-image1, #centerColumn h2, #centerColumn h3, #navbar, #navbar ul, #navbar li, #navbar li a, #header, #header h1, #header h2, #cell_1, #cell_2, #cell_3, #cell_1 p, #cell_2 p, #cell_3 p, #cell_1 h2, #cell_2 h2, #cell_3 h2,
    {width: 100%;}
}

/* -------------STYLE FOR BODY-------------- */
body {   /* -------For styling and set the body section that contains content, images, etc. Like set the font-color, background color, font family, margin, etc.-------------- */
margin:.5em; 
padding:0; 
height:100%; 
width: auto;
background-color:#ffffff;
color:#000000;  
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size:.9em;
}

a { /* -------For styling and set the style of hyperlink in the page-------------- */
color:#cc0000;
text-decoration:underline;
}

a:hover { /* -------For styling and set the style of hover. Hover used to select elements when you mouse over them-------------- */
color:#616161;
text-decoration:none;
}

hr {  /* -----To set and style the horizontal line that separate document sections------- */
margin-bottom:20px;
border:none;
width:99%;
color:#cccccc;
height:1px;
}

#centerColumn-image1 {  /* -------To make the image on the part below header centered only in the middle of the page. Not fully from the left to right page.------------ */	
width: 40%;
height: 470px;
float: left;
padding: 1%; 
margin-right: 20%;
margin-left: 30%;
background-color:#cccccc;
}

#centerColumn h2 { /* -------To style all the h2 sentence on the center column: in their font-family, margin, font-size, and padding------------ */	
margin:0 0 -.5em 0;
padding:.75em 0 0 0;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:30px;
}

#centerColumn h3 { /* -------To style all the h3 sentence on the center column: in their font-family, margin, font-size, and padding------------ */
margin:0 0 -.5em 0;
padding:.75em 0 0 0;
font-size:18px;
font-weight:lighter;
letter-spacing:.1em;
}

#navbar { /* -------To style the navigation bar background------------ */
margin:-1em -1em 0 -1em; /* Mozzila attributes */
padding:1em 0 1em 0 !important; /* IE specific attributes */
padding:1em 0 0 0;
background-color:#cccccc;
}

#navbar ul { /* -------To style and set The block element used to designate unordered list on the navigation bar------------ */
margin:0 0 -1em .3em !important;
margin:.3em 0 0 .3em;
padding:0 0 1em 0;
list-style:none;
background-color:#cccccc;
}

#navbar li { /* -------To style and set The block element used to represent an item in a list on the navigation bar------------ */
margin:0 0 0 -.27em;
padding:.2em 0 .2em 0 !important;
padding:1em 0 1em 0;
list-style:none;
display:inline;
background-color:#cccccc;
}

#navbar li a { /* -------To style and set The block element used to represent an item in a list on the navigation bar and also the hyperlink in navigation bar------------ */
margin:0 0 0 0;
padding:1em .5em 1em .5em !important;
padding:1em .5em 0 .5em;
}

#header { /* -------To style and set The header of the page------------ */
margin:0 -1em 0 -1em;
background: 
padding:0 0 0 0;
height:143px;
width: auto;
background-color:#cccccc;
border-top:1px solid #ffffff;
}

#header h1 { /* -------To style and set The h1 sentence on the header of the page------------ */
margin:0 0 -14px 10px;
padding:10px 0 0 .9em;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:1.7em;
font-weight:lighter;
letter-spacing:.15em;
color:#000000;
}

#header h2 { /* -------To style and set The h2 sentence on the header of the page------------ */
margin:0 0 0 0;
padding:1em 0 0 30px;
font-size:.9em;
font-weight:300;
letter-spacing:.1em;
color:#000000;
}

#cell_1 { /* -------To style and set The first cell (bigger than box) after the header------------ */ 
margin-left: 1%;
padding:1%;
padding-left:5px; 
float:left;
width:28%;
background-color:#cccccc;
border: 10px solid black;
}

#cell_2 { /* -------To style and set The second cell (bigger than box) after the header------------ */
    margin-left: 3%;
padding:1%;
    padding-left: 1px;
float:left;
width:28%;
background-color:#cccccc;
border: 10px solid black;
}

#cell_3 { /* -------To style and set The third cell (bigger than box) after the header------------ */
margin-right: 1%;
padding:1%;
float:right;
width:28%;
background-color:#cccccc;
border: 10px solid black;
}

#cell_1 p, #cell_2 p, #cell_3 p { /* -------To style and set The pharagraph on first, second, third cell (bigger than box) after the header------------ */
font-size:17px;
color:#000000;
}

#cell_1 h2 { /* -------To style h2 sentence on first cell (bigger than box) after the header------------ */
margin:0 0 -4px 0 !important;
margin:0 0 -20px 0;
padding:4px 0 10px 0;
font-family:Georgia, "Times New Roman", Times, serif;
color:#000000;
font-weight:bold;
}

#cell_2 h2 { /* -------To style h2 sentence on The second cell (bigger than box) after the header------------ */
margin:0 0 -4px 0 !important;
margin:0 0 -20px 0;
padding:4px 0 10px 0;
font-family:Georgia, "Times New Roman", Times, serif;
color:#000000;
font-weight:bold;
}

#cell_3 h2 { /* -------To style h2 sentence on The third cell (bigger than box) after the header------------ */
margin:0 0 -4px 0 !important;
margin:0 0 -20px 0;
padding:4px 0 10px 0;
font-family:Georgia, "Times New Roman", Times, serif;
color:#000000;
font-weight:bold;
}

#footer { /* -------To style and set The footer of the page------------ */
position:relative;
clear:both;
bottom:0;
margin:0 14px 1em 14px;
padding:0;
height:4em;
line-height:4em;
text-align:center;
font-size:.7em;
background-color:#cccccc;
}
