/* -------------STYLE FOR BODY-------------- */
body {
margin: 8px 0 0 0; 
    /*--- top margin is 8px
    ----- right margin is 0
    ----- bottom margin is 0
    ----- left margin is 0 ---*/
padding:0; 
width: auto;
color:#000000;  
text-align:center;
font-family:sans-serif;
font-size:14.4px;
}

/*---RESPONSIVE FOR BODY---*/

@media screen and (max-width:600px) {
 body {
     width:100%;
     background-color: #000000;
    }
}

@media screen and (min-width:600px) and (max-width:2000px) {
 body {
     width:100%;
     background-color: #ffffff;
    }
}


/*----------------------------------------------------------------------------------------------------------------------------------*/


/*---NAVBAR PART---*/

#navbar {
    padding-top: 4px;
    height: 90px;
    background-color:#cccccc;
    background-image: url(images/marbel.jpg);
    font-size: 20px;
    margin-left: 10px;
}

#navbar ul { 
list-style:none;
}

#navbar li {
display:inline;
}

#navbar li a { 
font-family:"Times New Roman";
}

a { 
color:#cc0000;
text-decoration:underline;
}

a:hover { /* -------For styling and set the style of hover. Hover used to select elements when you mouse over them-------------- */
color:#616161;
}

/*---END NAV BAR---*/

/*---RESPONDSIVE FOR NAVBAR---*/

@media screen and (max-width:800px) {
 #navbar {
     width:100%;
    }
}

/*----------------------------------------------------------------------------------------------------------------------------------*/


#header { 
height:143px;
background-color:#cccccc;
background-image: url(images/marbel.jpg);
    margin-left: 10px;

}

#header h1 { 
margin:0 0 7px 10px;
    /*--- top margin is 0
    ----- right margin is 0
    ----- bottom margin is 7px
    ----- left margin is 10px ---*/
    
padding:4px 0 0 15px;
    /*--- top padding is 10px
    ----- right padding is 0
    ----- bottom padding is 0
    ----- left padding is 14.4px ---*/
    
font-family:"Times New Roman";
font-size:27.2px;
letter-spacing:2.4px;
color:#000000;
}

#header h2 { 
padding:0 0 0 30px;
    /*--- top padding is 0
    ----- right padding is 0
    ----- bottom padding is 0
    ----- left padding is 30px ---*/
font-size:.9em;
font-weight:300;
letter-spacing:.1em;
color:#000000;
}

/*---END HEADER---*/

/*---RESPONDSIVE FOR NAVBAR---*/

@media screen and (max-width: 600px) {
 #header {
     width:100%;
     border-top: 2px solid #FCBA03;
    }
}

@media screen and (min-width:601px) and (max-width:2000px) {
 #header {
     width:100%;
     border-top:1px solid #000000;
    }
}


/*----------------------------------------------------------------------------------------------------------------------------------*/


/*---This is for left and right column---*/
.column.side {
  width: 25%; float: left; padding: 1%;border: 6px solid transparent; border-image: url(images/marbleblack.jpg) 30 round; margin-right: 5%; margin-top: 0; margin-bottom: 2%;margin-top: 2%;
}

/*---This Middle column----*/
.column.middle {
width: 25%; float: left; padding: 1%; border: 6px solid transparent; border-image: url(images/marbleblack.jpg) 30 round; margin-right: 5%; margin-bottom: 2%; margin-top: 2%;
}

/*---This Middle column----*/
.column.right {
width: 25%; float: left; padding: 1%;border: 6px solid transparent; border-image: url(images/marbleblack.jpg) 30 round; margin-right: 5%; margin-top: 0; margin-bottom: 2%; margin-top: 2%;
}

/*---END CONTENT---*/

/*---RESPONDSIVE FOR CONTENT---*/

@media screen and (max-width: 800px) {
    .column.side,
    .column.middle,
    .column.right
    {
     width:100%;
     background-color: #ffffff;
    }
}

@media screen and(min-width:800px) and (max-width:2000px) {
    .column.side,
    .column.middle,
    .column.right
    {
     width:100%;
     background-color:#cccccc;
    }
}


/*----------------------------------------------------------------------------------------------------------------------------------*/

#footer { 
clear:both;
bottom:0;
margin:0 0 0 25px;
    /*--- top margin is 0
    ----- right margin is 0
    ----- bottom margin is 0
    ----- left margin is 25px ---*/
height:64px;
line-height:64px;
text-align:center;
font-size:15px;
background-color:#cccccc;
background-image: url(images/marbel.jpg);
}

img {
    max-width: 200;
    height: auto;
}

/*---END FOOTER---*/

/*---RESPONSIVE PART---*/

}
